@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
 :root {
    --line-border-for :#3498db;
    --line-border-not :#e0e0e0;
 }
*{
    box-sizing: border-box;
}

body {
    font-family: 'Muli',sans-serif;
    display: flex;
    background-color: #f6f7fb;
    justify-content: center;  
    height: 100vh;
    align-items: center;
    margin: 0;
    overflow: hidden;
}   

.container{
     text-align: center;
}

.pro-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;

}

.pro-container ::before {
    background-color: var(--line-border-not);
    position: absolute;
    top: 50%;
    left:0;
    transform: translateY(-50%);    
    height: 4px;
    width: 50%;
    z-index: -1;
    
}

.progress {
    background-color: var(--line-border-for);
    position: absolute;
    top: 50%;
    left:0;
    transform: translateY(-50%);    
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.5s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-not);
  transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-for);
}

.btn {
    background-color: var(--line-border-for);
    color: #fff;
    border-radius: 6px;
    border: 0;
    padding: 9px 35px;
    margin: 10px;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;

}

.btn:active {
    transform: scale(0.99);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-for);
    cursor: not-allowed;
}